<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SHRI Ci System</title>
    </head>
    <body>
        <h1>SHRI CI System</h1>
        <h2>Build page</h2>
        <a href="/">...</a>
    </body>
</html>